@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0%;
  padding: 0%;
}

body::-webkit-scrollbar {
  width:1rem;
  background-color: black;
}

 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 159, 220);
  border-radius: 20px;
  background-clip: content-box;
} 

